@model aplikacja_zdjecia_z_wakacji.Models.Photo

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewData["Title"] = "Add";
}

<h1>Dodawanie zdjęcia</h1>

<br />
<a asp-controller="Photos" asp-action="Index" class="btn btn-primary btn-lg">Wróć</a>
<br />

<form asp-controller="Photos" asp-action="Add" method="Post" enctype="multipart/form-data">

    <br/>
    <div asp-validation-summary="ModelOnly" class="text-danger" > </div>

    <div class="form-group">
        <div>
            <span asp-validation-for="Nazwa" class="text-danger"></span>
        </div>
        <label asp-for="Nazwa">Nazwa: </label>
        <input asp-for="Nazwa" type="text" class="form-control" />
    </div>

    <div class="form-group">
        <div>
            <span asp-validation-for="Miejsce" class="text-danger"></span>
        </div>
        <label asp-for="Miejsce">Miejsce: </label>
        <input asp-for="Miejsce" type="text" class="form-control" placeholder="Kraj, Miasto" />
    </div>

    <div class="form-group">
        <div>
            <span asp-validation-for="Opis" class="text-danger"></span>
        </div>
        <label asp-for="Opis">Opis: </label>
        <textarea asp-for="Opis" class="form-control" id="exampleFormControlTextarea1"></textarea>
    </div>

    <input asp-for="User" type="text" class="form-control" value=@User.Identity.Name hidden/>
    <br />
    <div class="form-group">
        <div>
            <span asp-validation-for="PhotoPath" class="text-danger"></span>
        </div>
        <label asp-for="PhotoPath">Zdjęcie:</label>
        <input asp-for="PhotoPath" accept="image/*">
    </div>
    <br />

    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
        <label class="form-check-label" for="invalidCheck2"> Potwierdzam, że posiadam prawa do zdjęcia </label>
    </div>
    <br />

    <button type="submit" class="btn btn-primary btn-lg">Zatwierdź</button>
</form>